:root {
    --font-family-main: montserrat, sans-serif;
    --font-size-s: min(100vw, 768px);

    // Цвета
    --color-primary: #1C1C1E;
    --color-secondary: #FFF;
    --color-gray: #1C1C1E;
    --input-color: #000;
    --color-link: #002BC5;
    --color-purple: #4F27BF;
    --color-red: #c91e1e;
    --color-placeholder:  #6C6C6C;
    --bg-color-primary: #4F27BF;
    --bg-color-secondary: #FFF;
    --border-color-gray: #D7D7D7;
}