.white {
    color: var(--color-secondary);
}

.black {
    color: var(--color-primary);
}

.gray {
    color: var(--color-gray);
}

.red {
    color: var(--color-red);
}

.size_s {
    font-size: 2.6041667em;
}

.size_m {
    font-size: 3.38541667em;
}

.weight_500 {
    font-weight: 500;
}

.weight_600 {
    font-weight: 600;
}

.weight_700 {
    font-weight: 700;
}
